<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="usbong.android"
      android:versionCode="38"
      android:versionName="March. 26, 2014"
      android:installLocation="preferExternal"      
>
    <uses-sdk android:minSdkVersion="8" 
              android:targetSdkVersion="19" />
	
    <supports-screens android:smallScreens="true"
              android:normalScreens="true"
              android:largeScreens="true"
              android:xlargeScreens="true" />
    
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.camera" />
 	<uses-feature android:name="android.hardware.camera.autofocus" />
 
    <application android:label="@string/app_name" android:icon="@drawable/usbong_icon"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity android:name="SignInActivity"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="UsbongMainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="UsbongDecisionTreeEngineActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="CameraActivity" android:permission="android.permission.CAMERA" android:screenOrientation="nosensor"></activity>
		<activity android:name="SettingsActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="RegisterActivity" android:screenOrientation="portrait"></activity>        
		<activity android:name="TitleActivity" android:screenOrientation="portrait"></activity>        
		<activity android:name=".features.node.PaintActivity" android:screenOrientation="portrait"></activity>        		
		<activity android:name=".features.node.QRCodeReaderActivity" android:screenOrientation="portrait"></activity>        				
	</application>
</manifest>